@import 'tailwindcss';
@import './font-face';
@import './themes';
@import './base';

body {
    background-color: var(--color-canvas);
    color: #f8fafc;
    font-family: var(--font-inter);
    -webkit-font-smoothing: antialiased;
}
