@theme {
    /* Colors: Base */

    --color-canvas: #020617;
    --color-base: #030712;
    --color-base-card: #070e20;
    --color-base-panel: #0a1429;
    --color-surface-card: #131d37;

    /* Colors: Accents */

    --color-cyan-glow: #00cbeb;
    --color-cyan-light: #22d3ee;
    --color-blue-system: #3b82f6;
    --color-blue-light: #60a5fa;
    --color-blue-pale: #dbeafe;
    --color-rose-danger: #ff2056ff;
    --color-rose-light: #ffe4e6;
    --color-emerald-sync: #10b981;
    --color-emerald-light: #34d399;
    --color-orange-warn: #fb923c;
    --color-teal-init: #14b8a6;

    /* Glows / Shadows */

    --shadow-glow-cyan: 0 0 0.25rem color-mix(in srgb, var(--color-cyan-glow), transparent 40%);
    --shadow-glow-blue: 0 0 0.375rem color-mix(in srgb, var(--color-blue-system), transparent 20%);
    --shadow-glow-rose: 0 0 0.25rem color-mix(in srgb, var(--color-rose-danger), transparent 40%);
    --shadow-terminal-deep: 0 0 3rem rgba(0, 0, 0, 0.95);

    /* Drop Shadows */

    --drop-shadow-cyan: 0 0 0.125rem var(--color-cyan-light);
    --drop-shadow-rose: 0 0 0.25rem var(--color-rose-danger);
    --drop-shadow-blue: 0 0 0.25rem var(--color-blue-system);
    --drop-shadow-emerald-sm: 0 0 0.0625rem var(--color-emerald-sync);
    --drop-shadow-emerald-md: 0 0 0.25rem var(--color-emerald-sync);
    --drop-shadow-emerald-lg: 0 0 0.5rem var(--color-emerald-sync);
    --drop-shadow-white: 0 0 0.1875rem rgba(255, 255, 255, 0.2);

    /* Spacings */

    --radius-xs: 0.0625rem;
    --border-opacity-system: 0.1;
    --border-opacity-active: 0.3;

    /* Animations */

    @keyframes blink {
        0%,
        100% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
    }
    @keyframes shimmer {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(100%);
        }
    }
    @keyframes siren {
        0%,
        100% {
            text-shadow: 0 0 0.0625rem var(--color-rose-danger);
            border-color: rgba(244, 63, 94, 0.2);
            box-shadow: 0 0 0.125rem rgba(225, 29, 72, 0.1);
            color: #fb7185;
        }
        50% {
            text-shadow:
                0 0 0.25rem var(--color-rose-danger),
                0 0 0.5rem var(--color-rose-danger);
            border-color: var(--color-rose-danger);
            box-shadow: 0 0 0.375rem rgba(225, 29, 72, 0.4);
            color: #fff;
        }
    }
    @keyframes glitch {
        0%,
        100% {
            opacity: 1;
            transform: skew(0deg);
        }
        50% {
            opacity: 0.8;
            transform: skew(1deg);
        }
    }

    --animate-blink: blink 1s step-end infinite;
    --animate-shimmer: shimmer 2s infinite;
    --animate-siren: siren 0.5s ease-in-out infinite;
    --animate-glitch: glitch 0.1s infinite;
}
